body{
    background-color: black;
    margin: 0 auto;
}
header{
    background-color: black;
    width: 100%;
    height: 10vh;
}
.container{
    display: flex;
    width: 70%;
    margin: auto;
    background-color: black;
    
}

ul{
    list-style: none;
    display: flex;  
    
}
li{
    padding: 0px 15px 0px 0px;
    font-size: 15px;
}
a{
    color: white;
    text-decoration: none;
}

.quangcao{
    display: block;
    justify-content: center;
    /* width: 70%; */
    height: 30vh;
    background-color: black;
}
.anh1{
    justify-content: center;
    width: 100%;
}
.anh2{
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgba(41, 37, 37, 0.6);
    /* margin-top: 50px; */
}
.tieude{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    color: white;
    font-size: 25px;
    padding-top: 10px;
}
main{
    width: 70%;
    margin: auto;
    background-color: black;
}